= render :partial => 'form'

%p
  = link_to "Visualizar", universidade_path(@universidade), :class => "botao"
  
  = link_to "Lista de Universidades", universidades_path, :class => "botao", :style => "clear:none"
